<div class="page-title">
  <h4>Станки</h4>
</div>

<div class="row" *ngIf="departmentCncs; else loader">
  <div class="col s12">
    <div class="collection" *ngIf="departmentCncs.length !== 0 else empty">

      <p *ngFor="let cnc of departmentCncs"
      [routerLink]="['/cnc', cnc.id]"
      class="collection-item">
        <label>
          <input type="checkbox" class="filled-in"/>
          <span class='user-name'>
            {{cnc.department_name}}
          </span>
          <span class='user-name'>
            {{cnc.descr}}
          </span>
        </label>
      </p>


      <!-- <a
        *ngFor="let cnc of departmentCncs"
        [routerLink]="['/cnc', cnc.id]"
        class="collection-item"
      >
      <span class='user-name'>
        {{cnc.department_name}}
      </span>
      
    </a> -->
    </div>
    <ng-template #empty>
      <div class="center">
        Category is empty
      </div>
    </ng-template>
  </div>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
