<div class="page-title">
  <h4>Список проходов</h4>
</div>
<div class="row" *ngIf="!reloading; else reloadingBlock">
  <div class="col s12">
    <div class="collection" *ngIf="users.length !== 0 else empty">
      <table>
        <thead>
          <tr>
            <th>№</th>
            <th>Дата</th>
            <th>Сотрудник</th>
            <th>Тип</th>
            <th>Таб номер</th>
            <th>Должность</th>
            <th>Точка доступа</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i;">
            <td>{{i}}</td>
            <td>{{user.TIME | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{user.NAME}}</td>
            <td>{{user.ACTION}}</td>
            <td>{{user.TABID}}</td>
            <td>{{user.POSITION}}</td>
            <td>{{user.DEVICENAME}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #empty>
      <div class="center">
        Category is empty
      </div>
    </ng-template>
  </div>
  <div class="center mb2">
    <button
      class="btn waves-effect grey darken-1 btn-small"
      (click)="loadMore()"
      *ngIf="!loading; else loader"
    >Загрузить еще
    </button>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </div>
</div>
<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
