<div class="page-title">
  <h4>Список сотрудников</h4>
</div>
<nav>
  <div class="">
    <div class="col s12">
      <a
        class="breadcrumb blue-text text-darken-2 purple lighten-5"
      *ngFor="let link of links"
      (click) = "onClickLink(link)"
      >
        {{link.name}}
      </a>
    </div>
  </div>
</nav>
  <div class="row" *ngIf="!loading; else loader">
    <div class="col s12">
      <div class="collection" *ngIf="users.length !== 0 else empty">
        <a
          *ngFor="let user of users; index as i; "
          class="collection-item"
          (click) = "onClickUser(user)"
        >
          <span class='user-row'>
            <i
              class="tiny material-icons"
              *ngIf="user.TYPE === 'DEP'"
            >folder</i>
            <i
              class="tiny material-icons"
              *ngIf="user.TYPE === 'EMP'"
            >accessibility</i>
            <span class='user-name'>
              {{user.NAME}}
            </span>
            <span class='user-type'>
              {{user.TYPE}}
            </span>
            <span class='user-status'>
              {{user.STATUS}}
            </span>
          </span>
        </a>
      </div>
      <ng-template #empty>
        <div class="center">
          Category is empty
        </div>
      </ng-template>
    </div>
  </div>
  <ng-template #loader>
    <app-loader></app-loader>
  </ng-template>